.panel{
    display: grid;
    height:100%;
    overflow-y: scroll;
    grid-template-rows: 150px 1fr;
}
.pieza-item{
    height:62px;
    display: grid;
    background-color: var(--list);
    margin-bottom: 4px;
    grid-template-rows: 1fr 2fr;
    & .pieza-title{
        font-weight: 600;
        color:var(--text);
    }
    & .pieza-title + p {
        color:var(--gray-text);
    }
}

.panel-top{
     display: grid;
     grid-template-columns: 1fr 70px;
     & .icon-holder{
        display: flex;
        justify-content: end;
        & button{
            background-color: transparent;
            border:none;
            cursor: pointer;
        }
        & mat-icon{
        cursor: pointer;
        
        }
        & .icon-action{
            margin-right: 8px;
            color:var(--blue);
        }
     }
}
.tab-holder{
    height:100%;
    overflow-y: auto;
}
.piezas{
    color:var(--text);
    position:relative;
    
    display: grid;
    overflow-y: auto;
    grid-template-rows: 32px 1fr;
    height:100%;
    & .list{
        height:100%;
        overflow-y: scroll;

    }
}
// .piezas::after{
//     content: "";
//     position: absolute;
//     bottom:-6px;
//     right:0;
//     background-color: var(--gray);
//     height: 1px;
//     width: 100%;

// }

h2{
    margin-bottom: 16px;
}
.detalle{
    margin-bottom: 16px;
    .detalle-row{
        display: grid;
        grid-template-columns: calc(50% - 20px) calc(50% - 20px);
        column-gap: 40px;
    }
    .detalle-item{
        display: grid;
        height:32px;
        grid-template-columns: 1fr 1fr;
        & :first-child{
            font-weight: 600;
            color:var(--text);
        }
        & :nth-child(2){
            color:var(--gray-text);
            text-align: right;
        }
    }
}

.update{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color:var(--blue);
    font-weight: 600;
}
.update:disabled{
    color:var(--gray);
}
.update:disabled{
    cursor: default;
}

.icon-items{
    display: flex;
    justify-content: end;
    padding-right: 12px;
    font-size: 18px;
    & .icon-item{
        margin-left: 4px;
    }
    & span{
        color:var(--text-2);
    }
    
}
.checkbox-item{
    display: grid;
    grid-template-columns: 42px 1fr 42px;
    & .ver-plano{
        color:var(--blue);
    }
}
.images{
    padding-top: 12px;
    display: grid;
    grid-template-rows: 32px 1fr;
}

.thumb {
    display: block;
    border-radius: 4px;
    cursor: pointer;
}
.star-icon {
    position: absolute;
    top: -12px;
    right: -16px;
    color: gold;
    font-size: 20px;
    border-radius: 50%;
    padding: 2px;
}

.img-holder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow-y: auto;
  max-height: 220px; // Ajusta según tu diseño
  width: 100%;
  padding-top: 8px;
  flex-wrap: wrap;
}

.thumb-wrapper {
  margin-right: 8px;
  margin-bottom: 8px;
  position: relative;
}

.img-holder img {
  flex: 0 0 auto;
}
