<div class="dialog">
    <div></div>
    <div>
        @for(plano of data.list;track plano;let i = $index){
            <div class="list" [ngClass]="plano.imagenes?.length ? 'has-images' : 'no-images'">
                <div class="item">
                    <div class="center-ver">
                    <input type="text" [(ngModel)]="plano.piezas">
                </div>
                <div>
                    <p>{{plano.material}}</p>
                    <p>{{plano.title}}</p>
                </div>
                <div class="center-ver">
                    <mat-icon 
                        class="add-photo" 
                        fontSet="material-symbols-outlined"
                        (click)="photoInputs.get(i)?.nativeElement!.click()"
                        #icon
                    >add_photo_alternate</mat-icon>
                    <input 
                        type="file" 
                        multiple
                        accept=".jpeg,.jpg,.png,.gif,image/jpeg,image/png,image/gif"
                        style="display: none;"
                        #photoInput
                        (change)="onPhotoSelected($event, plano)"
                    >
                </div>
                </div>
                <div class="imagenes">
                    @for(img of plano.imagenes;track img){
                    <img 
                    [src]="getImagePreviewUrl(img)" 
                    alt="miniatura" 
                    width="32" 
                    height="32" 
                    style="object-fit: cover; border-radius: 4px; margin-right: 4px;"
                    >
                    }
                </div>
                
            </div>
        }
    </div>
    <div>
        <button (click)="createOrder()">Guardar</button>
    </div>
</div>