.panel{
    height:100%;
    display: grid;
    grid-template-rows: 40px 1fr 52px;
    overflow-x: hidden;
}

.input-drawer{
    display: grid;
    height:36px;
    grid-template-columns: 1fr 40px;
    align-items: center;
     border-bottom: 1px solid var(--gray);
     padding: 4px 0 4px 0;
    & input{
        background-color: transparent;
        border:none;
        border-bottom: 1px solid var(--gray);
        width: 25px;
        color:var(--gray);
    }
}
.input-drawer-r{
    display: grid;
    height:36px;
    grid-template-columns: 60px 1fr 72px;
    border-bottom: 1px solid var(--gray);
    align-items: center;
    & button{
        background: transparent;
        align-self: self-start;
        border: none;
        font-size: 12px;
        color:var(--text);
        cursor: pointer;
        font-weight: 600;
    }
}
.comments{
    margin-top: 8px;
    & textarea{
        width: calc(100% - 8px);
        background-color: transparent;
        color:var(--text);
        border-radius: 8px;
    }
}

.razon-badge{
    background-color: var(--badge);
    color:var(--bg-light);
    font-size: 14px;
    padding: 4px 6px 4px 6px;
    max-width: 150px;
    border-radius: 16px;
    text-align: center;
}

