$height:40px;
$borderRadius:8px;
$fontSize:14px;
$fontWeight:500;
.wave-button{
    position:relative;
    height:$height;
    min-width: 100px;
    font-size: $fontSize;
    font-weight: $fontWeight;
    border-radius: 8px;
    border:none;
    cursor:pointer;
    background-color: var(--button-fill);
    color:var(--text);
    padding:8px 12px 8px 12px;
    overflow: hidden;
    background-position: center;
    transition: background 0.4s ease;
}

.wave-button-icon{
    @extend .wave-button;
    align-items: center;
    padding:2px 12px 2px 12px;
    & mat-icon{
        vertical-align: bottom;
        font-size: 18px;
        width:18px;
        height: 18px;
    }
}

.snack{
    position:fixed;
    width: 480px;
    height:52px;
    // border:1px solid var(--gray-text);
    border-radius: 8px;
    bottom:0px;
    left:50%;
    z-index: 999999;
    transform: translate(-50%,0);
    background-color: var(--text-inv);
    display: grid;
    column-gap: 8px;
    grid-template-columns: 24px 1fr 100px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.2);
    padding:8px;
    align-items: center;
    

    & button{
        background-color: var(--text);
        color:var(--text-inv);
        border:none;
        border-radius: 8px;
        height:38px;
        font-weight: 500;
        cursor: pointer;
    }
    & span{
        color:var(--text);
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 16px;
    }
}
.ic{
    color:var(--text);
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 16px;
}
.progress{
    color:var(--text-inv);
    margin-right: 16px;
}

.error-icon{
    color:var(--red)
}
.success-icon{
    color:var(--green)
}