.tab{
    padding-top: 32px;
    width:calc(100% );
    height: calc(100% - 32px);
    overflow-y:auto;
    display: grid;
    grid-template-rows: 100px 1fr;
}

tr{
  cursor: pointer;
}
tr:hover{
  background-color:var(--hover);
}


