<div class="card" >
    <section class="menu-holder">
        <div>
            <span class="badge">{{project().status}}</span>
        </div>
        <div style="text-align: center;width: 24px;height: 24px;">
        </div>
    </section>
    <section>
        <h2>{{project().name}}</h2>
        <p>{{project().noSerie}}</p>
        <div class="card-section">
            <div class="center-ver">
                <mat-icon>face</mat-icon>
            </div>
            <div class="center-ver">
                <span>{{project().designer!.name}}</span>
            </div>
        </div>
        <div class="card-section">
            <div class="center-ver">
                <mat-icon fontSet="material-symbols-outlined">book_2</mat-icon>
            </div>
            <div class="center-ver">
                <span>{{getCountText()}} </span>
            </div>
        </div>
        <div class="card-section">
            <div class="center-ver">
                <mat-icon fontSet="material-symbols-outlined">lab_profile</mat-icon>
            </div>
            <div class="center-ver">
                <span>{{getOrdenesText()}} </span>
            </div>
        </div>
    </section>
    <section>
        <div class="center-ver-flex" style="justify-content: end;">
            <div class="center-ver-flex card-date">
                <mat-icon>calendar_month</mat-icon>
            <span>{{project().createdAt | date}}</span>
            </div>
        </div>
    </section>
</div>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="foldersClicked.emit()" [disabled]="hasLog()">
        <mat-icon>file_open</mat-icon>
        <span>Registrar planos</span>
    </button>
    <button mat-menu-item [disabled]="!hasLog()" (click)="detailsClicked.emit()">
        <mat-icon>book_5</mat-icon>
        <span >Bitácora</span>
    </button>
    <button mat-menu-item [disabled]="!hasLog()" >
        <mat-icon fontSet="material-symbols-outlined">manufacturing</mat-icon>
        <span >Manufactura</span>
    </button>
</mat-menu>
