<mat-form-field appearance="outline">
    <mat-label>Motivo de rechazo</mat-label>
    <mat-select >
        <mat-option  value="SIN ROSCAS">SIN ROSCAS</mat-option>
        <mat-option  value="MALA APARIENCIA">MALA APARIENCIA</mat-option>
        <mat-option  value="MAL DIMENSIONADO">MAL DIMENSIONADO</mat-option>
        <mat-option  value="OTROS">OTROS</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>Cantidad</mat-label>
    <input type="text" matInput>
</mat-form-field>
