<div class="dialog">
    <div> <h2>Solicitar salida de almacen</h2> </div>
    <div>

        @for(plano of piezas;track plano;let i = $index){
            <div class="list">
                <div class="item">
                    <div class="center-ver">
                        <input 
                        [placeholder]="max(plano)"
                        [disabled]="manufactured(plano) == 0"
                        (keydown)="checkAmount($event,plano)"
                        type="text">
                    </div>
                <div class="center-ver">
                    <div>
                        <p style="font-weight: 600;">{{plano.title}}</p>
                        <p>{{plano.material}}</p>
                    </div>
                </div>
                <div class="center-ver"></div>
            </div>
                
            </div>
        }

    </div>
    <div class="dialog-bottom">
        <div style="width: 100%;display: grid;grid-template-columns: 1fr 230px;">
            <p class="msg">
                <span>El campo de piezas es en base a las piezas <span style="font-weight: 600;">En Stock </span></span>
            </p>
            <div>
                <button class="secondary-cta" (click)="actualizar(false)">Cancelar</button>
                <button class="main-cta" [disabled]="!allPiezasAreFilled()" (click)="actualizar(true)">Guardar</button>
            </div>
        </div>
    </div>
    
</div>
