 <div class="tab">
   <div class="bar">
      <div>
        <mat-form-field>
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Buscar Plano</mat-label>
          <input autocomplete="off" matInput (keyup)="applyFilter($event)" 
          placeholder="Buscar plano por Id, Material o Acabado" #input>
        </mat-form-field>
      </div>
      <div style="display: flex;justify-content: end;gap: 1rem;align-items: center;">
        <button class="main-cta"  (click)="excel()">
          <mat-icon fontSet="material-symbols-outlined">file_save</mat-icon>
          Excel
        </button>
        <button class="main-cta" [disabled]="!(tableChecked || partiallyComplete()) || projectDisabled()" (click)="scrap()">
        <mat-icon >build</mat-icon>
        Scrap
        </button>
        
      
      <button class="main-cta" [disabled]="!(tableChecked || partiallyComplete()) || projectDisabled()" (click)="salidaAlmacen()">
        <mat-icon fontSet="material-symbols-outlined">shelves</mat-icon>
        Salida Almacen
      </button>
      <button class="main-cta" [disabled]="!(tableChecked || partiallyComplete()) || projectDisabled()" (click)="createOrder()">
        <mat-icon fontSet="material-symbols-outlined">assignment_add</mat-icon>
        Crear orden
      </button>
      <button [disabled]="projectDisabled()" class="main-cta" (click)="textoPlanos === 'Crear Bitácora' ? getFolders():agregarPlanos()">
        <mat-icon fontSet="material-symbols-outlined">architecture</mat-icon>
        {{textoPlanos}}
      </button>
      </div>
    
    </div>
    

      <div style="height: 100%;overflow-y: auto;overflow-x: auto;width:100%">
         <table mat-table 
         fixedLayout="true"
          [dataSource]="p.c.dataSource" 
          cdkDropList
          cdkDropListOrientation="horizontal"
          (cdkDropListDropped)="drop($event)"
          
          matSort>

        <ng-container matColumnDef="box" >
          <th cdkDrag  mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              
              [(ngModel)]="tableChecked"
              [indeterminate]="partiallyComplete()"
              [disabled]="projectDisabled()"
              (change)="checkTable()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row; let i = index"> 
            <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="row.checked" (change)="updateRow(row)" [disabled]="projectDisabled()">
            </mat-checkbox>  
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="title" >
          <th cdkDrag mat-header-cell *matHeaderCellDef mat-sort-header> Id plano </th>
          <td mat-cell *matCellDef="let row" style="font-weight: 500;"> {{row.title}} </td>
          <td mat-footer-cell *matFooterCellDef>
            @if(p.c.dataSource){
             {{p.c.dataSource.data.length}} Planos
            }
            </td>
        </ng-container>
        <ng-container matColumnDef="material">
          <th cdkDrag mat-header-cell *matHeaderCellDef mat-sort-header> Material </th>
          <td mat-cell *matCellDef="let row"> {{row.material}} </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="acabado">
          <th cdkDrag mat-header-cell *matHeaderCellDef mat-sort-header>Acabado</th>
          <td mat-cell *matCellDef="let row"> {{row.acabado}} </td>
          <td mat-footer-cell *matFooterCellDef>Total</td>
        </ng-container>
        <ng-container matColumnDef="piezas">
          <th cdkDrag mat-header-cell *matHeaderCellDef mat-sort-header>En plano</th>
          <td mat-cell *matCellDef="let row"> {{row.piezas}} </td>
          <td mat-footer-cell *matFooterCellDef>{{sumAttr("piezas")}}</td>
        </ng-container>
        <ng-container matColumnDef="cantidadManufactura">
          <th cdkDrag mat-header-cell *matHeaderCellDef mat-sort-header>Maquinadas</th>
          <td mat-cell *matCellDef="let row"> {{sum(row.cantidadManufactura)}} </td>
          <td mat-footer-cell *matFooterCellDef>{{sumAttr("cantidadManufactura")}}</td>
        </ng-container>
        <ng-container matColumnDef="cantidadDetalle">
          <th cdkDrag mat-header-cell *matHeaderCellDef mat-sort-header>Con Acabado</th>
          <td mat-cell *matCellDef="let row"> {{sum(row.cantidadDetalle)}} </td>
          <td mat-footer-cell *matFooterCellDef>{{sumAttr("cantidadDetalle")}}</td>
        </ng-container>
        <ng-container matColumnDef="cantidadAlmacen">
          <th cdkDrag mat-header-cell *matHeaderCellDef mat-sort-header>En integración</th>
          <td mat-cell *matCellDef="let row"> {{sum(row.cantidadAlmacen)}} </td>
          <td mat-footer-cell *matFooterCellDef>{{sumAttr("cantidadAlmacen")}}</td>
        </ng-container>
        <ng-container matColumnDef="cantidadRechazada">
          <th cdkDrag mat-header-cell *matHeaderCellDef mat-sort-header>Rechazadas</th>
          <td mat-cell *matCellDef="let row"> {{sum(row.cantidadRechazada)}} </td>
          <td mat-footer-cell *matFooterCellDef>{{sumAttr("cantidadRechazada")}}</td>
        </ng-container>
        <ng-container matColumnDef="asociadas">
          <th cdkDrag mat-header-cell *matHeaderCellDef mat-sort-header>Asociadas a orden</th>
          <td mat-cell *matCellDef="let row"> {{getAsociadas(row)}} </td>
          <td mat-footer-cell *matFooterCellDef>-</td>
        </ng-container>
        <ng-container matColumnDef="stockNumber">
          <th cdkDrag  mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
           <td mat-cell *matCellDef="let row"> {{row.stockNumber}} </td>
          <td mat-footer-cell *matFooterCellDef>-</td>
        </ng-container>
        
        
        <ng-container matColumnDef="expand">
          <th cdkDrag mat-header-cell *matHeaderCellDef >Plano</th>
          <td mat-cell *matCellDef="let row"> 
            <mat-icon matTooltip="Ver Plano" style="cursor: pointer;color:var(--blue)" (click)="toggle(row,$event)" fontSet="material-symbols-outlined">docs</mat-icon>
            <!-- <mat-icon (click)="toggle(row)" fontSet="material-symbols-outlined">docs</mat-icon> -->
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="remove">
          <th cdkDrag mat-header-cell *matHeaderCellDef >Borrar</th>
          <td mat-cell *matCellDef="let row"> 
            @if(getAsociadas(row) == 0){
              <mat-icon matTooltip="Quitar Plano" style="cursor: pointer;color:var(--red)" (click)="deletePlano(row,$event)" fontSet="material-symbols-outlined">delete</mat-icon>
            }
            @else{
              <mat-icon matTooltip="Acción inválida; Plano asociado a orden" style="cursor: default;color:var(--gray)" fontSet="material-symbols-outlined">remove</mat-icon>
            }
           
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
        <tr mat-row (click)="openPanel(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4"></td>
        </tr>
      </table>
      </div>
 </div>


