<div class="dialog">
    <div> <h2>Editar Salida</h2> </div>
    <div>

        @for(plano of data.salidas;track plano;let i = $index){
            <div class="list">
                <div class="item">
                    <div class="center-ver">
                        <input 
                        [placeholder]="plano.placeholder"
                        (keydown)="checkAmount($event,plano)"
                         type="text">
                    </div>
                <div class="center-ver">
                    <div>
                        <p style="font-weight: 600;">{{plano.pieza}}</p>
                        <p>{{plano.material}}</p>
                    </div>
                </div>
                <div class="center-ver">
                     @if(plano.inSalida){
                        <mat-icon [matTooltip]="getTooltipSalida(plano)" style="color:var(--red)">content_paste_off</mat-icon>
                     }
                     <mat-icon [matTooltip]="getTooltip(plano)" fontSet="material-symbols-outlined" style="color:#936639">note_alt</mat-icon>
                </div>
            </div>
                
            </div>
        }
        

    </div>
    <div class="dialog-bottom">
        <div>
            <button class="secondary-cta" (click)="actualizar(false)">Cancelar</button>
            <button class="main-cta" [disabled]="!allPiezasAreFilled()" (click)="actualizar(true)">Guardar</button>
        </div>
    </div>
</div>
