@use '../../../styles/views.scss';

mat-drawer-container, mat-drawer-content{
    height:100%;
    background-color: var(--bg);
    overflow-y: auto;
}
:host ::ng-deep .mat-mdc-tab-body-wrapper{
    height:100%;
}
mat-drawer-content{
    width: 100%;
    padding:0;
}

mat-drawer{
    padding: 16px;
}