@use '../../../styles/views.scss';

mat-drawer-container, mat-drawer-content{
    height:100%;
    background-color: var(--bg);
    overflow-y: auto;
}
:host ::ng-deep .mat-mdc-tab-body-wrapper{
    height:100%;
}
mat-drawer-content{
    width: 100%;
    padding:0;
}

mat-drawer{
    padding: 16px;
}

.bar{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.filter-holder{
   grid-template-columns: 1fr 1fr 1fr 120px;
}