@use '../../../../styles/search.scss';
.bar{
    background-color: var(--main);
    height:78px;
    border-radius: 8px;
    grid-template-columns: 300px 1fr;
    display: grid;
    align-items: center;
    padding:0 24px 0 24px;
}

td.mat-mdc-footer-cell{
    font-weight: 600;
    color:var(--ultra-focus);
}
.mat-column-title{
    width: 280px;
    min-width: 200px;
}
.mat-column-material{
    width: 80px;
    min-width: 200px;
}
table{
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
   
}
.mat-column-piezas,.mat-column-cantidadManufactura{
    width: 32px;
    text-align: center;
}

.mat-mdc-header-cell {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
  z-index: 100;
}
