@use '../../../styles/search.scss';
.details{
    width:100%;
    height: 100%;
    overflow:scroll;
    display: grid;
    grid-template-rows: 160px 1fr;
}
mat-drawer-container, mat-drawer-content{
    height:100%;
    background-color: var(--bg);
    overflow-y: auto;
}
:host ::ng-deep .mat-mdc-tab-body-wrapper{
    height:100%;
}
mat-drawer-content{
    width: calc(100% - 48px);
    padding:0 24px 0 24px;
}
.header{
    padding:24px 0 0 24px;
    display: grid;
    position:relative;
}
.back{
    position:absolute;
    cursor: pointer;
    top:16px;
    right:0px;
    color:var(--gray);
}
.designer-holder{
    display: grid;
    & .name-holder{
        display: flex;
        & p{
            color: var(--gray);
        }
    }
    & .design-name{
        color:var(--text);
        font-weight: 600;
        margin-bottom: 4px;
    }
}
.header-details{
    display: grid;
    height:52px;
    margin-top: 12px;
    margin-bottom: 16px;
    grid-template-columns: 52px 1fr;
    & .icon-detail{
        display: grid;
        align-items: center;
        justify-content: center;
        color:var(--white);
        border-radius: 12px;
        background-color: #669bbc;
    }
    & .project-detail{
        padding-left: 8px;
    }

    & h1{
        font-size: 24px;
        color:var(--text);
        
    }
    & h2{
        font-size: 18px;
        font-weight: 500;
    }
}

.container{
    height:calc(100%);
    overflow-y: auto;
}

.item{
    background-color: var(--main);
    margin-bottom: 4px;
    margin-top: 4px;
    height:42px;
}
mat-drawer{
    padding: 16px;
}
.title{
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    color:var(--text);
    & mat-icon{
        cursor: pointer;
    }
}

h2{
    color:var(--gray)
}

:host ::ng-deep .mat-mdc-tab-group{
    height:100%;
    overflow-y: auto;
}

.circle{
    height: 32px;
    width: 32px;
    background-color: red;
    border-radius: 50%;
    position:relative;
    cursor: pointer;
    & span{
        position:absolute;
        top:50%;
        left:50%;
        font-size: 14px;
        font-weight: 600;
        transform: translate(-50%,-50%);
    }
}

