<mat-drawer-container class="example-container" hasBackdrop="false">
<mat-drawer #drawer mode="over" position="end" >
  <app-panel-orden></app-panel-orden>
</mat-drawer>
<mat-drawer-content >
  <div class="details">
    <div class="header">
      <div class="back center-ver-flex" (click)="goBack($event)">
        <mat-icon id="renew" class="autorenew">autorenew</mat-icon>
        <span>Refrescar Info</span>
      </div>
      <div>
        <div class="header-details">
          <div class="icon-detail">
            <mat-icon fontSet="material-symbols-outlined">{{icon}}</mat-icon>
          </div>
          <div class="project-detail">
            <h1 class="center-ver-flex">
              {{api.currentProject.name}}
              &nbsp;&nbsp;
              <button class="icon-button-app" [matMenuTriggerFor]="menu" [disabled]="api.currentProject.status != 'ABIERTO'">
                <mat-icon >more_horiz</mat-icon>
              </button>
              
            </h1>
            <h2>{{api.currentProject.noSerie}} | {{api.currentProject.status}}</h2>
          </div>
        </div>
        <div class="designer-holder">
          <p class="design-name">Diseñador</p>
          <div class="name-holder center-ver-flex">
            <section class="user-holder">
              <div class="circle" [ngStyle]="{'backgroundColor':api.currentProject.designer?.color}">
              <!-- <div class="circle" [ngStyle]="{'backgroundColor':'red'}"> -->
              <span>{{api.currentProject.designer?.short}}</span>
              </div>
            </section>
            <p style="margin-left: 8px;">{{api.currentProject.designer?.name}}</p>
          </div>
        </div>
        
      </div>
        
        
    </div>
      <div class="container">
        <mat-tab-group animationDuration="0ms">
      <mat-tab label="Bitácora">
        <catalogo></catalogo>
      </mat-tab>
      <mat-tab label="Órdenes de trabajo">
        <ordenes-trabajo></ordenes-trabajo>
      </mat-tab>
      <mat-tab label="Historial">
        <bitacora></bitacora>
      </mat-tab>
      <mat-tab label="Salidas">
        <salidas></salidas>
      </mat-tab>
    </mat-tab-group>
        
      </div>
  </div>
</mat-drawer-content>
</mat-drawer-container>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="actualizarProyecto('CERRADO')">
    <mat-icon>done_all</mat-icon>
      <span>Finalizar proyecto</span>
  </button>
  <button mat-menu-item (click)="actualizarProyecto('CANCELADO')">
    <mat-icon>cancel</mat-icon>
    <span>Cancelar proyecto</span>
  </button>
  @if(api.currentProject.catalogId == undefined){
    <button mat-menu-item (click)="actualizarProyecto('ELIMINADO')">
    <mat-icon>delete</mat-icon>
    <span>Eliminar proyecto</span>
  </button>
  }
  
</mat-menu>