@use '../../../styles/search.scss';
.details{
    width:100%;
    height: 100%;
    overflow:auto;
    display: grid;
    grid-template-rows: 160px 1fr;
}
mat-drawer-container, mat-drawer-content{
    height:100%;
    background-color: var(--bg);
    overflow-y: auto;
}
:host ::ng-deep .mat-mdc-tab-body-wrapper{
    height:100%;
}
mat-drawer-content{
    width: calc(100% - 48px);
    padding:0 24px 0 24px;
}
.header{
    padding:24px 0 0 8px;
    display: grid;
    position:relative;
}

.back{
    position:absolute;
    z-index: 100;
    cursor: pointer;
    top:8px;
    right:16px;
    color:var(--blue);
   
    font-size: 14px;
    height:28px;
    & mat-icon{
        font-size: 16px;
        width: 16px;
        height: 16px;
    }
    
}
.info{
    position:absolute;
    cursor: pointer;
    top:8px;
    z-index:100;
    left:22px;
    color:var(--blue);
    & button{
        font-size: 12px;
        height:28px;
        gap:0;
        & mat-icon{
            font-size: 14px;
            width: 14px;
            height: 14px;
        }
    }
}
.detail-info-holder{
    display: grid;
    grid-template-columns: 90px 320px 1fr;
}
.designer-holder{
    display: grid;
    height:38px;
    & .name-holder{
        display: flex;
        font-size: 14px;
        & p{
            color: var(--gray);
        }
    }
    & .design-name{
        font-size: 14px;
        color:var(--text);
        font-weight: 600;
    }
}
.header-details{
    display: grid;
    height:52px;
    margin-top: 12px;
    margin-bottom: 24px;
    grid-template-columns: 52px 1fr;
    & .icon-detail{
        display: grid;
        align-items: center;
        justify-content: center;
        color:var(--white);
        border-radius: 12px;
        background-color: #669bbc;
    }
    & .project-detail{
        padding-left: 8px;
        & mat-icon{
            color:var(--text);
        }
    }

    & h1{
        font-size: 20px;
        color:var(--text);
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
    & h2{
        font-size: 14px;
        font-weight: 400;
    }
}

.container{
    height:calc(100%);
    overflow-y: auto;
}

.item{
    background-color: var(--main);
    margin-bottom: 4px;
    margin-top: 4px;
    height:42px;
}
mat-drawer{
    padding: 16px;
}
.title{
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    color:var(--text);
    & mat-icon{
        cursor: pointer;
    }
}

h2{
    color:var(--gray);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host ::ng-deep .mat-mdc-tab-group{
    height:100%;
    overflow-y: auto;
}

.circle{
    height: 28px;
    width: 28px;
    background-color: red;
    border-radius: 50%;
    position:relative;
    cursor: pointer;
    & span{
        position:absolute;
        top:50%;
        left:50%;
        font-size: 10px;
        font-weight: 600;
        transform: translate(-50%,-50%);
    }
}


.autorenew {
  cursor: pointer;
  display: inline-block;
}

.autorenew.spin {
  animation: rotate360 0.6s linear;
}

@keyframes rotate360 {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}
