:host ::ng-deep .mat-mdc-form-field-bottom-align::before{
    height: 0px;
    display: none;
}
:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: transparent;
}
:host ::ng-deep .mat-mdc-form-field-text-prefix mat-icon{
    color:var(--gray);
}

:host ::ng-deep .mdc-text-field{
    padding: 16 16px 0 0!important;
}

:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input{
    color:var(--text);
}