@use '../styles/search.scss';
.vista-icem{
    height:calc(100% - 32px);
    display: grid;
    padding:16px 32px 16px 32px;
    grid-template-rows: 160px 1fr;
    overflow-y: auto;
}
.header{
    display: grid;
    grid-template-rows: 44px 1fr;
    row-gap: 12px;
}
.sub-header{
    display: grid;
    padding:8px 0 0 8px;
    grid-template-columns: 1fr 1fr;
    & div{
        display: grid;
        justify-content: end;
        & button{
            min-width: 120px;
        }
    }
}
.search-view{
    width: 80px;
}


.bar{
    background-color: var(--main);
    height:78px;
    border-radius: 8px;
    grid-template-columns: 350px 1fr;
    column-gap: 24px;
    display: grid;
    align-items: center;
    padding:0 16px 0 16px;
}

.filter-holder{
    display: grid;
    grid-template-columns: 1fr 201px 201px 120px;
    column-gap: 16px;
}

.search-holder{
    position:relative
}
.search-holder::after{
    content: "";
    position:absolute;
    top:12px;
    right: -13px;
    width: 1px;
    height:calc(100% - 30px);
    background-color: var(--gray);
}