 <div class="tab">
    <div class="bar">
      <mat-form-field>
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Buscar Plano</mat-label>
          <input autocomplete="off" matInput (keyup)="applyFilter($event)" 
          placeholder="Buscar en el historial" #input>
        </mat-form-field>
    </div>
      <div style="height: 100%;overflow-y: auto;">
        <table mat-table [dataSource]="p.b.dataSource" matSort multiTemplateDataRows>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Milestone </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>
          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Creado por </th>
            <td mat-cell *matCellDef="let row"> {{row.usuario}} </td>
          </ng-container>
          <ng-container matColumnDef="proveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
            <td mat-cell *matCellDef="let row"> {{row.proveedor}} </td>
          </ng-container>
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let row"> {{row.createdAt}} </td>
          </ng-container>
          <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            <button
              matIconButton
              aria-label="expand row"
              (click)="toggle(element); $event.stopPropagation()"
              class="example-toggle-button"
              [class.example-toggle-button-expanded]="isExpanded(element)">
              @if(element.expand){
                <mat-icon>keyboard_arrow_down</mat-icon>
              }
              <!-- @if(element.expand){
                <mat-icon>keyboard_arrow_down</mat-icon>
              } -->
              @else {
                <mat-icon>remove</mat-icon>
              }
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="p.b.displayedColumns.length">
            <div class="example-element-detail-wrapper" [class.example-element-detail-wrapper-expanded]="isExpanded(element)">
              <div class="example-element-detail">
                @if(element.what != undefined){
                  @for(w of element.what;track w){
                    <div class="item">
                      <div class="center-ver">
                          <div class="total center">{{w.cantidad}}</div>
                      </div>
                      <div class="center-ver">
                          <div>
                              <p style="font-weight: 600;">{{w.plano}}</p>
                              <p>{{w.material}} {{w.acabado}}</p>
                          </div>
                      </div>
                    </div>
                } 
                }
                
               
                
              </div>
            </div>
          </td>
        </ng-container>
        
    
          <tr mat-header-row *matHeaderRowDef="p.b.displayedColumns;sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: p.b.displayedColumns;"
          [class.example-expanded-row]="isExpanded(row)"
          (click)="toggle(row)"
          ></tr>
          <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="example-detail-row"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4"></td>
          </tr>
        </table>
      </div>
 </div>


