@use '../../../../styles/items.scss';
.bar{
    background-color: var(--main);
    height:78px;
    border-radius: 8px;
    grid-template-columns: 1fr 1fr;
    display: grid;
    align-items: center;
    padding:0 24px 0 24px;
}
.item{
  margin-top: 8px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row {
  cursor: pointer;
}
.example-element-detail-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 100%;
  transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-element-detail-wrapper-expanded {
  grid-template-rows: 1fr;
}

.example-element-detail {
  min-height: 0;
}



.example-toggle-button {
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border:none;
}

.example-toggle-button-expanded {
  transform: rotate(180deg);
}