<div class="dialog">
    <div class="dialog-header center-ver">
        <h2>{{title}}</h2>
        <div class="center-ver-flex" style="justify-content: end;">
            <button [disabled]="data.length ==0" (click)="verificarPlanos()" matRipple class="secondary-cta"><mat-icon fontSet="material-symbols-outlined">sweep</mat-icon>
                Verificar planos
            </button>
            <button (click)="agregarPlanos()" matRipple class="secondary-cta"><mat-icon fontSet="material-symbols-outlined">add</mat-icon>
                {{getTextoBoton()}}
            </button>
            
        </div>
    </div>
    <div class="should-overflow">

        @for(plano of data;track plano;let i = $index){
            <div class="list">
                <div class="item"  [class.item-invalid]="plano.material == null">
                    <div class="center-ver">
                        <input [disabled]="true" type="text" [value]="plano.piezas || ''">
                    </div>
                <div class="center-ver">
                    <div>
                        <p style="font-weight: 600;">{{plano.name}}</p>
                        <p>{{plano.material || "-"}} {{plano.acabado || "-"}}</p>
                    </div>
                </div>
                <div class="center-ver">
                    <div>
                        @if(isVerified){
                        <mat-icon matTooltip="Ver Plano" style="cursor: pointer;color:var(--blue);margin-right: 12px;" (click)="toggle(plano)" fontSet="material-symbols-outlined">docs</mat-icon>
                        }
                        <mat-icon matTooltip="Remover" 
                        (click)="remove(i)" 
                        style="cursor: pointer;color:var(--red)"
                        fontSet="material-symbols-outlined">
                        delete
                    </mat-icon>
                    </div>
                </div>
            </div>
                
            </div>
        }

    </div>
    <div class="dialog-bottom">
        <div style="width: 100%;display: grid;grid-template-columns: 1fr 230px;">
            <p class="msg">
                <span>Número de planos<span style="font-weight: 600;">&nbsp;{{data.length}}</span></span>
            </p>
            <div>
                <button class="secondary-cta" (click)="actualizar(false)" >Cancelar</button>
                <button [disabled]="!isValid"  class="main-cta" (click)="actualizar(true)">{{button}}</button>
            </div>
        </div>
    </div>
</div>
<input hidden accept="application/pdf" #folderInput2 type="file" id="files" name="files" multiple (change)="onFolderSelected($event)">
