<div class="vista-icem">
    <div class="header">
        <h1>Proyectos</h1>
        <div class="bar">
            <div>
                <mat-form-field style="width: 500px;" appearance="outline"> 
                    <mat-icon matPrefix>search</mat-icon>
                    <mat-label>Filtrar</mat-label>
                    <input autocomplete="off" matInput (keyup)="applyFilter($event)" placeholder="Nombre del proyecto" #input>
                </mat-form-field>

            </div>
            <div></div>
            <div class="filter-holder center-ver">
                <mat-form-field appearance="outline">
                <mat-label>Filtrar proyectos</mat-label>
                <mat-select [(ngModel)]="filtro" >
                    <mat-option value="ABIERTO" (click)="buscarProyecto('ABIERTO')">Abiertos</mat-option>
                    <mat-option value="CERRADO" (click)="buscarProyecto('CERRADO')">Cerrados</mat-option>
                    <mat-option value="CANCELADO" (click)="buscarProyecto('CANCELADO')">Cancelados</mat-option>
                </mat-select>
            </mat-form-field>
                <button class="main-cta" (click)="newProject()">
                <mat-icon>add</mat-icon>
                Nuevo Proyecto
                </button>
            </div>
        </div>
    </div>
    <div class="projects-list">
        @for(p of filteredProjects;track p._id;let i = $index){
            <project-card
                (click)="seeDetails(p)"
                [project]="p">
            </project-card>
        }
    </div>
</div>
