@use '../../../styles/search.scss';
@use '../../../styles/dialog.scss';

.projects{
    height:calc(100% - 32px);
    display: grid;
    padding:16px 32px 16px 32px;
    grid-template-rows: 160px 1fr;
    overflow-y: auto;
}
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    row-gap: 1rem;
    column-gap: .6rem;
    margin-top: 1.5rem;
    overflow-y: scroll;
}

h1{
    color:var(--text);
}

:host ::ng-deep mat-form-field{
    width: 200px;
}
:host ::ng-deep mat-select{
    padding-left: 8px;
}





