@use '../../../styles/search.scss';
@use '../../../styles/dialog.scss';
@use '../../../styles/views.scss';
.projects{
    height:calc(100% - 32px);
    display: grid;
    padding:16px 32px 16px 32px;
    grid-template-rows: 160px 1fr;
    overflow-y: auto;
}
.header{
    padding:24px 0 0 0;
    display: grid;
    position:relative;
}
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    row-gap: 1rem;
    column-gap: .6rem;
    margin-top: 1.5rem;
    overflow-y: scroll;
}
.bar{
    background-color: var(--main);
    height:78px;
    border-radius: 8px;
    grid-template-columns: 350px 1fr 400px;
    column-gap: 24px;
    display: grid;
    align-items: center;
    padding:0 16px 0 16px;
}

h1{
    color:var(--text);
}

:host ::ng-deep mat-form-field{
    width: 200px;
}
:host ::ng-deep mat-select{
    padding-left: 8px;
}

.buttons-right {
  display: flex;
  align-items: center;   /* centra verticalmente los botones dentro del contenedor */
  justify-content: flex-end; /* alinea los botones a la derecha */
  gap: 12px; /* espacio entre botones */
}
.filter-holder {
  display: flex;
  align-items: center; /* centra verticalmente los hijos */
  justify-content: space-between; /* separa la zona izquierda y la de botones */
}




