.app{
    display: grid;
    height:100%;
    width: 100%;
    grid-template-columns: 64px 1fr;
    background-color: var(--bg);
}

.app-holder{
    display: grid;
    height:100%;
    overflow-y: auto;
}
.pages-holder{
    height:100%;
    overflow-y: scroll;
}

.toolbar{
    background-color: var(--main);
    height:100%;
    display: grid;
    align-items: center;
    justify-content: end;
}
