<div class="sidebar">
    <section class="user-holder">
        @if(API.currentUser){
                <div matTooltip="Cambiar usuario" (click)="cambiarUsuario()" class="circle" [ngStyle]="{'backgroundColor':API.currentUser.color}">
                <span>{{API.currentUser.short}}</span>
            </div>
            }
    </section>
    <section class="menu-text">
        @if(API.currentUser != undefined){
            @if(isAdmin()){
                <button matRipple [matRippleCentered]="centered" matTooltip="Dashboard" (click)="goToDashboard()"><mat-icon >analytics</mat-icon></button>
            }
        
            <button matRipple [matRippleCentered]="centered" matTooltip="Proyectos" (click)="gotoProjects()"><mat-icon>work</mat-icon></button>
            <button matRipple [matRippleCentered]="centered" matTooltip="Órdenes" (click)="goToOrdenes()" ><mat-icon >assignment</mat-icon> </button>
            <button matRipple [matRippleCentered]="centered" matTooltip="Salidas" (click)="goToSalidas()" ><mat-icon >assignment_return</mat-icon> </button>
            <div class="line"></div>
            @if(canCreateUsuario()){
                <button matRipple [matRippleCentered]="centered" matTooltip="Usuarios" (click)="goToUsuarios()"><mat-icon>groups</mat-icon> </button>
                <button matRipple [matRippleCentered]="centered" matTooltip="Proveedores" (click)="goToProveedores()"><mat-icon >store</mat-icon> </button>
                <button matRipple [matRippleCentered]="centered" matTooltip="Motivos de rechazo" (click)="goToRechazos()"><mat-icon >settings_alert</mat-icon> </button>
            }
        }
       
        
    </section>
    <section></section>
    
   <button matRipple [matRippleCentered]="centered" (click)="s.changeMode()" >
        <mat-icon [ngStyle]="{'color':s.currentMode.color}">{{s.currentMode.icon}}</mat-icon>
    </button>
</div>

