.sidebar{
    background-color: var(--main);
    height:100%;
}
button{
    width: 100%;
    height:42px;
    margin:8px 0 8px 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}