@use '../../../styles/dialog.scss';

.list{
    display: grid;
    grid-template-rows: 52px ;
    margin-bottom: 4px;
    border-bottom: 2px solid var(--gray);
    &.has-images {
        grid-template-rows: 52px 36px;
        margin-bottom: 4px;
    }
    &.no-images {
        grid-template-rows: 52px 0;
    }
}

.imagenes{
    padding: 0 8px 0 8px;
}


.item{
    display: grid;
    height:52px;
    grid-template-columns: 50px 1fr 40px;
    padding:4px 8px 4px 8px;
    color:var(--text);
    & input{
        width: 40px;
        height:32px
    }
}
.add-photo{
    cursor: pointer;
}