@use '../../../styles/dialog.scss';
@use '../../../styles/items.scss';

.list{
    display: grid;
    grid-template-rows: 52px ;
    margin-bottom: 12px;
    border-bottom: 2px solid var(--gray);
    &.has-images {
        grid-template-rows: 52px 36px;
        margin-bottom: 4px;
    }
    &.no-images {
        grid-template-rows: 52px 0;
    }
}

.imagenes{
    padding: 0 8px 0 8px;
}

.content{
    display: grid;
    height:100%;
    overflow-y: hidden;
    overflow-x: hidden;
    grid-template-rows: 1fr 200px;
}

.add-photo{
    cursor: pointer;
}

.number-input{
    display: grid;
    grid-template-columns: 1fr 26px;
    column-gap: 8px;
    & .input-buttons{
        display: grid;
        height:56px;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 8px;
        & button{
            border:none;
            background-color: transparent;
            color:var(--blue);
            cursor: pointer;
            font-size: 24px;
        }

    }
}

