<div class="dialog" >
    <div>
        <h2>Crear orden de trabajo <span>#{{pad(folio,form.get("tipo")!.value! || "")}}</span></h2>
    </div>
    <div class="content">
        <form [formGroup]="form">
            <section class="double-form-dialog">
                <mat-form-field appearance="outline">
                    <mat-label>Tipo de orden</mat-label>
                    <mat-select formControlName="tipo">
                        <mat-option (click)="setFolio('Maquinado')" value="Maquinado">Maquinado</mat-option>
                        <mat-option (click)="setFolio('Detalle')" value="Detalle">Acabado</mat-option>
                    </mat-select>
                    @if (!form.get("tipo")!.valid) {
                        <mat-error>Tipo de orden requerida</mat-error>
                    }
                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>Proveedor</mat-label>
                    <mat-select  formControlName="proveedor">
                        @for(p of filteredProveedores;track p._id){
                            @if(p.active){
                                <mat-option (click)="selectProveedor(p)" [value]="p.name">{{p.name}}</mat-option>
                            }
                        }
                    </mat-select>
                    @if (!form.get("proveedor")!.valid) {
                        <mat-error>Proveedor requerido</mat-error>
                    }
                </mat-form-field>
            </section>
            <section class="double-form-dialog">
                <mat-form-field appearance="outline">
                    <mat-label>Fecha estimada de entrega</mat-label>
                    <input autocomplete="off" matInput [min]="todayDate" [matDatepicker]="picker" formControlName="date" placeholder="DD/MM/AAAA">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if (!form.get("date")!.valid) {
                        <mat-error>Fecha estimada requerida DD/MM/AAAA</mat-error>
                    }
                </mat-form-field>
                <div class="number-input">
                    <mat-form-field appearance="outline">
                        <mat-label>Equipos</mat-label>
                        <input autocomplete="off" (keydown)="isNumber($event)" (keyup)="changeEquipo($event)" matInput formControlName="equipos" >
                        @if (!form.get("equipos")!.valid) {
                        <mat-error>Campo requerido</mat-error>
                        }
                    </mat-form-field>
                    <div class="center-ver-flex">
                        <div class="input-buttons">
                        <button [disabled]="!form.get('tipo')!.valid" (click)="changeEquipo(1)">+</button>
                        <button [disabled]="!form.get('tipo')!.valid" (click)="changeEquipo(-1)">-</button>
                    </div>
                    </div>
                </div>
            </section>
        
        
        </form>
        <section style="overflow-y: auto;">
            <h3>{{data.list.length}} Planos</h3>
            @for(plano of data.list;track plano;let i = $index){
            <div class="list">
                <div class="item">
                <div class="center-ver">
                    <input type="text" 
                        [disabled]="form.get('equipos')?.value > 1 || !form.get('tipo')!.valid "
                        [(ngModel)]="plano.cantidadInDialog"
                        (keydown)="isNumber($event)"
                        (keyup)="keyup($event,plano)">
                </div>
                <div class="center-ver">
                    <div>
                        <p style="font-weight: 600;">{{plano.title}}</p>
                        <p>{{plano.material}}</p>
                    </div>
                </div>
                <div class="center-ver">
                    <p>Stock <strong>{{sumStock(plano)}}</strong></p>
                </div>
            </div>
            </div>
            
            
        }
        </section>
        
    </div>
    <div class="dialog-bottom">
        <div style="width: 100%;display: grid;grid-template-columns: 1fr 230px;">
            <p class="msg">
                <span>El campo de piezas sólo es editable cuando la cantidad de Equipos es <span style="font-weight: 600;">1</span></span>
            </p>
            <div>
                <button class="secondary-cta" (click)="close()" >Cancelar</button>
                <button [disabled]="disableForm()" class="main-cta" (click)="createOrder()">Crear</button>
            </div>
        </div>
    </div>
</div>