<div class="dialog" >
    <div>
        <h2>Crear orden de trabajo <span>#{{folio}}</span></h2>
    </div>
    <div class="content">
        <form  [formGroup]="form">
        <mat-form-field appearance="outline">
            <mat-label>Tipo de orden</mat-label>
            <mat-select formControlName="tipo">
                <mat-option (click)="setFolio(form.get('tipo')!.value!)" value="Maquinado">Maquinado</mat-option>
                <mat-option (click)="setFolio(form.get('tipo')!.value!)" value="Detalle">Detalle</mat-option>
            </mat-select>
            @if (!form.get("tipo")!.valid) {
                <mat-error>Tipo de orden requerida</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Proveedor</mat-label>
            <mat-select formControlName="proveedor">
                @for(p of api.proveedores;track p){
                    <mat-option (click)="selectProveedor(p)" [value]="p.name">{{p.name}}</mat-option>
                }
            </mat-select>
            @if (!form.get("proveedor")!.valid) {
                <mat-error>Proveedor requerido</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Fecha estimada de entrega</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="dd/mm/yyyy">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (!form.get("date")!.valid) {
                <mat-error>Fecha estimada requerida</mat-error>
            }
        </mat-form-field>
        </form>
        <section style="overflow-y: auto;">
            @for(plano of data.list;track plano;let i = $index){
            <div class="list">
                <div class="item">
                <div class="center-ver">
                    <input type="text" [(ngModel)]="plano.piezas" (keydown)="isNumber($event)">
                </div>
                <div class="center-ver">
                    <div>
                        <p style="font-weight: 600;">{{plano.title}}</p>
                        <p>{{plano.material}}</p>
                    </div>
                </div>
                <div class="center-ver"></div>
            </div>
            </div>
            
            
        }
        </section>
        
    </div>
    <div class="dialog-bottom">
        <div>
            <button class="secondary-cta" (click)="close()" >Cancelar</button>
            <button [disabled]="disableForm()" class="main-cta" (click)="createOrder()">Guardar</button>
        </div>
    </div>
</div>