
<div class="separator">
    <h2>Reporte 1</h2>
    <mat-form-field appearance="outline">
    <mat-label>Ingresa un rango de fecha</mat-label>
    <mat-date-range-input [rangePicker]="picker" >
        <input matStartDate placeholder="Start date" [(ngModel)]="fecha1">
        <input matEndDate placeholder="End date" [(ngModel)]="fecha2">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button class="main-cta" (click)="reporter1()">Crear reporte 1</button>
</div>
<div class="separator">
    <h2>Reporte 2</h2>
<mat-form-field appearance="outline">
    <mat-label>Ingresa un rango de fecha</mat-label>
    <mat-date-range-input [rangePicker]="picker2" >
        <input matStartDate placeholder="Start date" [(ngModel)]="fecha1">
        <input matEndDate placeholder="End date" [(ngModel)]="fecha2">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-date-range-picker #picker2></mat-date-range-picker>
    </mat-form-field>
<mat-form-field appearance="outline">
    <mat-label>Proveedor</mat-label>
    <mat-select [(ngModel)]="proveedorObj">
        @for(p of api.proveedores;track p._id!){
            <mat-option (click)="selectProveedor(p)" [value]="p">{{p.name}}</mat-option>
        }
    </mat-select>
    
    
</mat-form-field>

<button class="main-cta" (click)="reporteProveedor()">Crear reporte 2</button>
</div>