@use '@angular/material' as mat;
@use './styles//dialog.scss';
:root{
    // --bg-light:#ededed;
    --bg-light:#dfdfdf;
    --white:#f5f5f5;
    --contrast-white:#ebebeb;
    --contrast-black:#1c1d1f;
    --black:#0f0f10;
    --black2:#131416;
    --blue-dark:#1b263b;
    --gray:#4d4d4d;
    --gold:#e6b979;
    --hover-field:#293347;
    --badge:#2e384a;
    --blue:#669bbc;
    --red:#ad2831;
    --red-50:#ad283130;
    --green:#6a994e;
    
}
html, body { 
    height: 100%;
}
.theme-light{
    --bg:var(--bg-light);
    --main:var(--white);
    --primary:var(--blue-dark);
    --text:var(--black);
    --text:var(--black2);
    --text-inv:var(--white);
    --gray-text:var(--gray);
    --gold-text:var(--gold);
    --contrast:var(--contrast-white);
    --hover:#cad4d8;
    --list:var(--bg-light);
    --ultra-focus:#B37136;
    --placeholder:#c4c4c4;
    @include mat.sidenav-overrides((
        container-background-color: var(--main),
        container-width:"50%"
    ));
   
}

.theme-dark{
    --text:var(--white);
    --text-2:var(--bg-light);
    --text-inv:var(--black)
    --gold-text:var(--gold);
    --gray-text:#818181;
    --bg:var(--black);
    --main:var(--black2);
    --primary:var(--blue-dark);
    --contrast:var(--contrast-black);
    --hover:var(--gray);
    --ultra-focus:var(--gold);
    --list:#18191b;
    --placeholder:#363636;
     @include mat.table-overrides((
        background-color:#131416,
        row-item-label-text-color:var(--white),
        header-headline-color: var(--white)
    ));
    @include mat.menu-overrides((
        container-color: var(--main),
        item-hover-state-layer-color:var(--bg)
    ));
    @include mat.dialog-overrides((
        container-color: var(--main)
    ));
    @include mat.select-overrides((
        panel-background-color: var(--main)
    ));
    @include mat.autocomplete-overrides((
        background-color: var(--main)
    ));
    
    @include mat.tabs-overrides((
        active-focus-label-text-color: var(--text-2),
        inactive-focus-label-text-color: var(--text-2),
        active-label-text-color: var(--text-2),
        inactive-label-text-color:#9e9e9e,
        active-hover-label-text-color: var(--text-2),
        inactive-hover-label-text-color: var(--text-2),
    ));
    @include mat.sidenav-overrides((
        container-background-color: var(--main),
        container-width:"50%"
    ));
  

}
body,p { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-menu-item .mat-icon{
    color:var(--text)!important;
}
.cdk-overlay-pane.mat-mdc-dialog-panel{
    max-width: 2000px!important;
}
p,span,button,h1,h2,h3{
    margin:0;
}
.center-ver{
    display: grid;
    align-items: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-ver-flex{
    display: flex;
    align-items: center; 
}
.secondary-cta{
    background-color: transparent;
    color:var(--text);
    height:38px;
    border:none;
    padding:0 12px 0 12px;
    cursor: pointer;
    display: flex;
    align-items: center;  
    justify-content: center; 
    gap: 0.5em;  
    
}
.main-cta{
    background-color: var(--primary);
    color:var(--white);
    height:38px;
    border:none;
    padding:0 12px 0 12px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;   /* Centra verticalmente */
    justify-content: center; /* Opcional: centra horizontalmente */
    gap: 0.5em;  
    & .mat-icon{
        color:var(--white);
    }
}:disabled{
    background-color: #5b6370;
    cursor: default;
}

.mat-mdc-menu-item-text span{
    color:var(--text)!important
    
}

.mat-mdc-option{
    color:var(--text)!important
}

.icon-button-app{
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.icon-button-app:disabled{
    cursor: default;
}

.tab{
    padding-top: 32px;
    width:calc(100% );
    height: calc(100% - 32px);
    overflow-y:auto;
    display: grid;
    grid-template-rows: 100px 1fr;
}

tbody > tr{
  cursor: default
}
tbody > tr.mat-mdc-row:not(:has(.example-element-detail-wrapper)):hover {
  background-color: var(--hover);
}
:host ::ng-deep .mat-mdc-option:focus.mdc-list-item, .mat-mdc-option.mat-mdc-option-active.mdc-list-item{

}
.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: var(--blue)!important;
}

.should-overflow{
    height:100%;
    overflow-y: auto;
}